GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu-google-client-secret
SECRET_KEY=tu-django-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,tu-dominio.ngrok-free.dev
CSRF_TRUSTED_ORIGINS=https://tu-dominio.ngrok-free.dev
ACCOUNT_DEFAULT_HTTP_PROTOCOL=https
NGROK_URL=https://tu-dominio.ngrok-free.dev
WOMPI_API_SECRET=tu-wompi-api-secret
WOMPI_INTEGRITY_KEY=tu-wompi-integrity-key
WOMPI_PUBLIC_KEY=tu-wompi-public-key
WOMPI_PRIVATE_KEY=tu-wompi-private-key

# DigitalOcean Spaces (media)
USE_DO_SPACES=False
DO_SPACES_KEY=tu-spaces-key
DO_SPACES_SECRET=tu-spaces-secret
DO_SPACES_BUCKET=tu-bucket
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT_URL=https://nyc3.digitaloceanspaces.com
DO_SPACES_CDN_DOMAIN=tu-bucket.nyc3.digitaloceanspaces.com
DO_SPACES_LOCATION=media
SERVE_MEDIA=True
